body {
  background-color: rgb(201, 176, 77);
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

h1,
h2 {
  color: yellowgreen;
  font-family: 'Courier New', Courier, monospace;
}